@charset "utf-8";

/* 
	This stylesheet was created by: 
		Author: Kieran Rose
		Date: 01/03/2025
		Project: Final Project, Slideshow stylesheet
*/


/* button and slide show container styles */

.slide-unit {
	width: max-content;
	max-width: 100%;
	max-height: 700px;
	display: block;
	contain: layout;
}

.buttonleft {
	float: center;
	top: 50%;
	position: absolute;
	left: 0%;
	color: white;
	background: rgba(0, 0, 0, 0);
	border: none;
	font-size: 25px;
	transition: 0.4s;
}

.buttonright {
	float: center;
	top: 50%;
	position: absolute;
	right: 0%;
	color: white;
	background: rgba(0, 0, 0, 0);
	border: none;
	font-size: 25px;
	transition: 0.4s;
}

.buttonleft:hover, .buttonright:hover {
	color: rgb(255, 0, 0);
	transition: 0.4s ease-out;
}

/* slide image styles */

.gd1-slideimg, .gd2-slideimg, .dp1-slideimg {
	display: none;
	max-height: 700px;
	max-width: 95%;
	float: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

.gd1-text, .gd2-text, .dp1-text {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 1000px) {
	
	.slide-unit {
		max-width: 100%;
	}
}

@media screen and (min-width: 3000px) {
	
	.gd1-slideimg, .gd2-slideimg, .dp1-slideimg {
		max-height: 1500px;
	}
	
	.slide-unit {
		max-height: 1500px;
	}
	
	.buttonleft, .buttonright {
		font-size: 65px;
	}
}