@Charset "UTF-8";

/* Author: Kieran Rose
	Date: 5/21/2024
	Project: Assignment #12 stylesheet

*/

body {
	background-image: linear-gradient(#62c1e5, #cfecf7);
	margin:0px auto;
	font-family: helvetica;
	padding-left: 100px;
	padding-right: 100px;
}
.title {
	margin-top: 70px;
	text-align: center;
	font-size: 40px;
	color: #00007f;
}

.small {
	font-size: 9px;
}

.ind {
	text-indent: 30px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.centertxt {
	font-weight: bold;
	color: #00007f;
	text-align: center;
}

.clock {
	font-size: 40px;
	color: #00007f;
}

.countrytitle {
	font-family: Times;
	text-align: left;
	font-size: 50px;
	font-weight: bold;
	color: #00007f
}

p {
	font-weight: bold;
	color: #00007f;
}

h2 {
	color: #00007f;
	text-align: center;
}

h3 {
	color: #00007f;
}

h4 {
	color: #00007f;
}



hr {
	height: 10px;
	background-color: #00002f;
	border-color: 00002f;
	border-radius: 5px;
	margin-left: -100px;
	margin-right: -100px;
}

table{
	border-radius: 5px;
	border-color: #00002f;
	color: #00007f;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}

select {
	background-color: #00002f;
	color: #84e3f7;
	width: 250px;
	height: 50px;
	font-size: 20px;
	font-family: helvetica;
	border-radius: 10px;
	cursor: pointer;
}

button {
	background-color: #00002f;
	color: #84e3f7;
	width: 250px;
	height: 50px;
	font-size: 20px;
	font-family: helvetica;
	border-radius: 10px;
}

button:hover {
	background-color: blue;
	cursor: pointer;
}

.nav a.right { 
	float: right;
	background-image: linear-gradient(to right, #00002f, #000000);
	cursor: pointer;
}

.nav {
	overflow: hidden;
	background-color: #00002f;
	border-radius: 12px;
	position: fixed;
	top: 0;
	width: 100%;
	align: center;
	margin-left: -100px;
}

.nav a {
	font-weight: bold;
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
	text-decoration: none;
}

.nav a:hover {
	color: blue;
}

.nav a.first {
	background-image:linear-gradient(to right, #62c1e5, #31618a);
}

.nav a.second {
	background-image:linear-gradient(to right, #31618a, #00002f);
}


/* Dark Mode styles */
.darkmode {
	
	background-image: linear-gradient(#00009f, #000068);
	
	.title {
		text-align: center;
		font-size: 40px;
		color: #84e3f7;
	}

	.small {
		font-size: 9px;
		color: #84e3f7;
	}

	.clock {
		color: #84e3f7;
		font-size: 40px;
	}

	.centertxt {
		font-weight: bold;
		color: #84e3f7;
		text-align: center;
	}

	.countrytitle {
		font-family: Times;
		text-align: left;
		font-size: 50px;
		font-weight: bold;
		color: #84e3f7
	}

	p{
		color: #84e3f7;
	}

	h2 {
		color: #84e3f7;
	}	

	h3 {
	color: #84e3f7;
	}

	h4 {
		color: #84e3f7;
	}

	hr {
		height: 10px;
		background-color: #84e3f7;
		border-color: #62c1e5;
		border-radius: 5px;
	}
	
	table{
		border-radius: 5px;
		border-color: #84e3f7;
		color: #84e3f7;
		font-weight: bold;
		text-align: center;
		font-size: 30px;
	}
	
	
	
	.nav {
		background-color: #62c1e5;
	}

	.nav a {
		font-weight: bold;
		float: left;
		color: #202020;
		text-align: center;
		padding: 14px 16px;
		font-size: 17px;
		text-decoration: none;
	}

	.nav a:hover {
		color: blue;
	}	

	.nav a.first {
		color: #eeeeee;
		background-image:linear-gradient(to right, #00002f, #31618a);
	}

	.nav a.second {
		background-image:linear-gradient(to right, #31618a, #62c1e5);
	}

	.nav a.right { 
		float: right;
		background-image: linear-gradient(to right, #62c1e5, #ffffff);
	}
}