@Charset "UTF-8";

/* Author: Kieran Rose
	Date: 5/08/2024
	Project: Assignment #7

*/


/*Pre-set styles for light mode button*/
body{
	background-image: linear-gradient(#e6e6ff, #ffffff);
}
button{
	background-color: white;
	font-family: Times New Roman;
	color: blue;
	font-size: 25px;
	font-style: italic;
	border-radius: 40px;
	border-style: solid;
	border-color: blue;
}

p{
	font-family: consolas;
}
h2{
	font-family: consolas;
	font-weight: bold;
}


.dark{
	/* Dark mode style for button*/	
background-image: linear-gradient(#00001e, #00005a);

p{
	color: rgba(230, 230, 255, 1.00);
}

h2{
	color: rgba(230, 230, 255, 1.00);
}

button{
	background-color: black;
}

}