@Charset "UTF-8";

/* Author: Kieran Rose
	Date: 5/14/2024
	Project: Assignment #8

*/

html{
	background-color: rgba(255, 0, 0, 1.0);
	margin:0px auto;
}

body{
	color: #ffffdd;
	width:90%;
	max-width:500rem;
	padding-left:2%;
	padding-right:2%;
	margin:0px auto;
}

h2{
	text-align: center;
}
img{
	border: 2px solid #ee3311;
	border-radius: 2px;
}

button{
	font-family: Impact;
	color: red;
	font-size: 25px;
	font-weight: bold;
	border-radius: 5px;
	border-style: dashed;
	border-color: red;
}